<ul>
	<li></li>
	<li></li>
	<li></li>
</ul>

<input type="text">
<br></br>

<table border="1">
	<tr>
		<th> <button>E</button>
		<th> <h1>D</h1>
		<th> <h3>BA<br>CB<h3>
	</tr>

	<tr>
		<th> <h1>F</h1>
		<th> <button>E</button>
		<th> <h1>D</h1>
	</tr>

	<tr>
		<th> <h3>HG<br>IH</h3>
		<th> <h1>F</h1>
		<th> <button>E</button>
	</td>
</table>
<br>
<input type="text">

<ul>
	<li></li>
	<li></li>
	<li></li>
</ul>
