<h1>Book details</h1>

<p>
  <h2>Title</h2>
  <%= @books.title %>
</p>

<p>
  <h2>Author</h2>
  <%= @books.author %>
</p>

<p>
  <h2>ISBN</h2>
  <%= @books.isbn %>
</p>

<p>
  <h2>Publication year</h2>
  <%= @books.publication_year %>
</p>
